VITE_BACKEND_URL=https://pckt-backend.fly.dev
VITE_CKB_RPC_URL=https://testnet.ckb.dev/rpc
VITE_NETWORK=testnet
VITE_PCKT_LOCK_CODE_HASH=0xd32c718bf52729197811c5077330719d801e2fddf81eec6407c5005151f798f1
VITE_PCKT_LOCK_HASH_TYPE=data1
VITE_PCKT_LOCK_TX_HASH=0xb1d1b8994b3b929fbe75beda7b066e22ace8c189ca8e21dabe8c6d533647c833
VITE_PCKT_LOCK_INDEX=0
