VITE_BACKEND_URL=https://pckt-backend.fly.dev
VITE_CKB_RPC_URL=https://testnet.ckb.dev/rpc
VITE_NETWORK=testnet
VITE_PCKT_LOCK_CODE_HASH=0x7f55658a3527fb98403e845c2eff708096d342086fcd1e474457f9ddbb7c6496
VITE_PCKT_LOCK_HASH_TYPE=data1
VITE_PCKT_LOCK_TX_HASH=0x8b167f6fb6b1dfead002639e373c3ace760325a5990bdc3e4c0b52536541a0dc
VITE_PCKT_LOCK_INDEX=0
